.productOption
    & .card
        cursor pointer
        height 165px
        &:hover, &.active
            border-color red !important
.productOption
    height 220px
    & .productOptionName
        font-size .8rem
        position relative
        
    &:hover
        border-color red !important
.resultProduct
    overflow hidden
    max-height 0
    transition max-height 0.5s cubic-bezier(0, 1, 0, 1)
    &.full
        max-height 2000px
        transition max-height 1s ease-in-out
.searchProductDesc
    font-size .75rem
.productOptionName
    letter-spacing -1px
.productRemoveOption
    & a
        color red
.searchProductOptionsBody
    height 165px
    overflow-y auto
.searchProductOptions
    font-size .7rem
.searchProductName
    font-size .8rem
    position relative
    & > button
        height 31px
        position absolute
        right 15px
        top 50%
        margin-top -15.5px
        opacity .8
        display none
    &:hover
        & > button
            opacity 1
            display block
.cardProduct
    height 260px
.productCustomName
    position relative
    & > button
        height 31px
        position absolute
        right 15px
        top 50%
        margin-top -15.5px
        opacity .8
        &:hover
            opacity 1

.cardCustom
    height 220px
.optionsSelected
    min-height 170px
    & p
        font-size: .8rem
    & .card
        height 220px
        margin-bottom: 15px