.productOption
    & .card
        cursor pointer
        height 165px
        &:hover, &.active
            border-color red !important
.productOption
    height 220px
    & .productOptionName
        font-size .8rem
        position relative
        
    &:hover
        border-color red !important

.productCustomName
    position relative
    & > button
        height 31px
        position absolute
        right 15px
        top 50%
        margin-top -15.5px
        opacity .8
        &:hover
            opacity 1

.cardCustom
    height 220px
.optionsSelected
    min-height 170px
    & p
        font-size: .8rem
    & .card
        height 220px
        margin-bottom: 15px