.tabTypes
    & .list-group-item
        &.active
            background-color: #247471
            border-color: #247471
.btn
    &.btn-primary
        background-color: #247471
        border-color: #247471