.cardCustom
    cursor pointer
.cardOption
    & img
        max-width 100%
        height auto
.optionsContainer
    max-height 600px
    overflow-y auto
.modal.options
    & .card-header
        font-size .8rem