.tabContentTypes
    width 100%
.container-types
    transition: all 1s
    & > div
        transition: all 1s
        &.hide
            display none

#productCustonsNv2
    & .cardOption
        cursor pointer
        &:hover
            border-color red !important
body
    & .listOptionsByCustom
        & h5
            font-size 14px
            text-transform capitalize

    & .typeCustomItem
        cursor pointer
        border 1px solid #ccc
        &:hover
            border-color red !important

.cardCustom
    & .card-body
        border 2px solid transparent
        & button
            width 50px
            position absolute
            bottom 5px
            left 50%
            margin-left -25px
            display none
        &:hover
            & button
                display block
    & .card-header
        position relative
        & > button
            height 31px
            position absolute
            right 5px
            top 50%
            margin-top -15.5px
            opacity .0

            &.btnChangeCustom
                right 45px
    &:hover
        & .card-header
            & > button
                opacity 1